cache/backend/
cache/frontend/
tmp/logs/
media/videos/tmb/
media/videos/vid/
media/videos/h264/
media/photos/
media/videos/m3u8/
media/albums/
.idea/
siteadmin/modules/index/dashboard.php

include/config.db.php
include/config.paths.php
.settings/
.buildpath
.project
composer.json
